/* About page styling */

/* Main Content */
main{
    margin-top: 5rem;
}

#services{
    background-color: var(--grayscale200);
    min-height: 35rem;
    display: flex;
    align-items: center;
}

.section-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.service-item-container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.service-item-container.text{
    flex-direction: column;
    align-items: center;
}

.service-item{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.service-item img{
    width: 5rem;
    margin-bottom: 0.5rem;
}

.service-item h4{
    color: var(--brand-color-dark);
}

.service-item p{
    text-align: center;
}

#about{
    margin-top: 6rem;
}

.about-container{
    display: flex;
    column-gap: 2rem;
}


.reverse{
    flex-direction: row-reverse;
}

.about-item-container{
    width: 48%;
    margin-bottom: 6rem;
    
}

.about-item-container img{
    width: 100%;
    max-width: 400px;
    height: auto;
    
}

.about-item-container .about-name{
    font-size: 2rem;
    font-weight: 200;
}

.about-item-container .about-intro{
    font-size: 1.2rem;
    font-weight: 400;
    word-spacing: 2.5px;
    line-height: 1.6;
}

/* Footer */
footer{
    width: 100%;
    background-color: var(--brand-color-dark);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container{
    display: flex;
    column-gap: 2rem;
}

.icon-container .fab, .icon-container .fas{
    color: var(--cta-color);
    font-size: 2rem;
}

.icon-container li:hover .fab, .icon-container li:hover .fas{
    color:var(--grayscale300);
}

.footer-container p{
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

@media (min-width: 801px){
    .service-content-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}


@media (max-width: 800px) and (min-width:500px) {
    .service-item{
        flex-direction: row;
    }    
}

@media (max-width: 750px){
    .about-container{
        flex-direction: column;
    }

    .about-item-container{
        width: 100%;
        text-align: center;
    }
}
