@navbar-height: 6.25rem;

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    position: relative;
    margin-top: @navbar-height;
    flex-grow: 1;

    form{
        display: flex;
        justify-content: center;
    }
    
}

footer{
    margin-top: auto;
}