/* About Page Style */

header{
    height: 100vh;
    max-height: 1000px;
}

.landing{
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/coffee_background.png);
    background-size: 25rem;
    background-position: 80% 90%;
    background-repeat: no-repeat;
    position: relative;
}

.header-container{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 1rem 5rem;
    margin: 0 auto;
}

nav{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    transition: background-color 0.5s ease-in
}

nav .coffee-house-nav{
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
}

.nav-logo img{
    height: 4rem;
}

.nav-name{
    margin-left: 1rem;
}

.nav-name h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-item{
    position: relative;
}

.nav-item:not(:first-child){
    margin-left: 1rem;
}

.nav-item a {
    color: var(--grayscale800);
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-item:hover a, 
.nav-item:active a{
    color: var(--brand-color);
}

.nav-selected::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--brand-color);
    position: absolute;
    left: 0;
    bottom: -0.25rem;
}

.nav-menu{
    width: 2rem;
    height: 2rem;
    position: absolute;    
    right: 3rem;
    top: 3rem;
}

.nav-menu:hover .stroke, .nav-menu:hover .stroke::after, .nav-menu:hover .stroke::before{
    background-color: var(--grayscale800);
}

 .stroke, .stroke::after, .stroke::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 3px;
    background-color: var(--brand-color-dark);
    border-radius: 5px;
    transition: background-color 0.5s ease-in, 
                transform 0.5s ease-in; 

}

.stroke{
    top: 50%;
    transform: translateY(-3px);
}

.stroke::after {
    transform: translateY(.5rem);
    transition: transform 0.5 ease-in;
}

.stroke::before {
    transform: translateY(-0.5rem);
}

.hero{
    position: relative;
    top: 25%;
}

.hero p{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.header-container .fas{
    font-size: 2.5rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    color: var(--brand-color);
}

.header-container .fas:hover{
    /* color: var(--grayscale800); */
    animation-name: hover_down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

main img{
    width: 100px
}

@media screen and (min-width: 1070px){
    .nav-menu{
        display: none;
    }

    #nav-about{
        margin-left: auto;
    }
}

@media screen and (max-width: 1070px) {
    .nav-item{
        display: none;
    }

    .nav-item a{
        color: var(--white);
    }

    .header-container.active{
        background-color: rgba(0,0, 0, 1);
        position: fixed;
        height: 100vh;
        z-index: 1000;
        top:0
    }

    .header-container.active .coffee-house-nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        row-gap: 1rem;
        flex-shrink: unset;
    }

    .header-container.active .nav-name h2{
        color: var(--white);
    }

    .header-container.active .nav-item{
        display: block;
    }

    .header-container.active .nav-menu .stroke{
        background-color: rgba(0,0, 0, 0.95);
        transition: none;
    }

    .header-container.active .nav-menu .stroke::before{
        transform: rotate(45deg);
        background-color: var(--brand-color-light);
    }
    
    .header-container.active .nav-menu .stroke::after{
        transform: rotate(-45deg);
        background-color: var(--brand-color-light);
    }

    .landing{
        background-position: 50% 80%;
    }
}

@media screen and (max-width: 750px) {
    .landing{
        background: none;
    }

    .hero p{
        text-align: center;
    }
    
    .nav-name{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .header-container{
        padding: 1rem;
    }

    .header-container .fas{
        bottom: 2rem;
    }
}

@media screen and (max-height: 750px){
    .landing{
        background: none;
    }
}

@media screen and (max-height: 400px){
    .header-container .fas{
        display: none;
    }
}

@keyframes hover_down{
    from {transform: translateY(0);}
    50% {transform: translateY(1.5rem);}
    to {transform: translateY(0);}
}
